


.Content{
  height: 500px;
  background:url("public/social.jpg")top repeat;
  background-size: 100%;
  padding: 2vw;
  .Content-Wrapper{
    background: #645a5a52;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
  }
}