@mixin footer_1224px(){
  .Footer{
    font-size: .9em;
  }
}

@mixin footer_1824px(){
  .Footer{
    font-size: 1em;
  }
}

@mixin footer_768px(){
  .Footer{
    font-size: .8em;
    .First{
      text-align: center;
      flex-direction: column;
    }
  }
}

@mixin footer_320px(){
  .Footer{
    .First{
      flex-direction: column;
      .First-Content{
        flex-direction: column;
      }
    }
    .Second{
      display: flex;
      flex-direction: column;
      label{
        margin-bottom: 2%;
      }
      .Second-Wrapper{
        align-items: center;
        padding: 2%;
        .Socials{
          .Youtube{
            margin: 0 !important;
          }
        }
      }
      .Second_Subscribe{
        padding: 2%;
        width: auto !important;
        .Second-Subscribe-Email{
          height: 4vw !important;
        }
      }
    }
  }
}

.Footer{
  display:flex;
  flex-direction: column;
  color: #FFF;
  .Footer-Background{
    .Footer-Info{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        z-index: -1;
        background: url("public/cubes_r.jpg") center repeat-y;
        width: 100%;
        background-size: 100%;
        height: 100%;
      }
      .Main-Info{
        padding: 2%;
        opacity: 1.5;
        display:flex;
        justify-content: space-between;
      }
      .First{
        margin-bottom: 1vw;
        display: flex;
        .First-Content{
          display: flex;
        }
        .Info{
          padding: .6vw;
          .Info-wrapper{
            text-align: center;
          }
        }
      }
      .Second{
        height: auto;
        .Second-Wrapper{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .Socials{
            display: flex;
            a{
              color: #FFF;
            }
            .Social{
              margin-right: 12vw;
              :last-child{
                margin-right: 0;
              }
            }
            .VK{
              :hover{
                color: #4688ff;
              }
            }
            .FB{
              :hover{
                color: #4688ff;
              }
            }
            .Inst{
              :hover{
                color: #f4b7fd;
              }
            }
            .Youtube{
              :hover{
                color: #ff0000;
              }
            }
          }
        }
        .Second_Subscribe{
          width: 32%;
          form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            label{
              text-align: center;
              margin-top: -5px;
            }
            input{
              font-size: .9em;
              width: inherit;
              height: 2vw;
            }
          }
        }
      }
      hr{
        height: 12px;
        border: 0;
        box-shadow: inset 0 15px 12px -11px rgba(0,0,0,0.80);
      }
    }
  }

}